services:
  backend:
    container_name: backend
    build: backend/
    env_file: .env
    restart: "on-failure"
    healthcheck:
      test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost:8000/"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
  frontend:
    container_name: frontend
    build:
      context: frontend/
    env_file: .env
    ports:
      - "30001:80"
    restart: "on-failure"
    depends_on:
      backend:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost:80/"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
