@import "tailwindcss";

<<<<<<< HEAD
body {
  background: linear-gradient(to bottom, theme(--color-slate-50), theme(--color-slate-300));
  min-height: 100vh;
}

=======
>>>>>>> da6fdcf (fix: conflict in .gitignore)
@theme {
  --font-jaini: "Jaini", serif;
}
